/* EditProfile.css */

#edit-profile-container {
    margin-top: 100px;
    font-family: 'Bahnschrift SemiBold', sans-serif;
    color: #fff;
    /* background: #282c34; */
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
    max-width: 700px;
    margin: 0 auto;
}

#edit-profile-title {
    font-family: 'Copperplate Gothic Light', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    color: #f1f1f1;
}

#edit-profile-form {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#edit-profile-form .form-group {
    margin-bottom: 20px;
}

#edit-profile-form .text-muted {
    color: #aaa !important;
    font-weight: bold;
}

#edit-profile-form .form-control {
    background: #555;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#edit-profile-form .form-control::placeholder {
    color: #ccc;
}

#edit-profile-form .btn {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    display: block;
    width: 100%;
    margin-top: 10px;
}

#edit-profile-form .btn-primary {
    background: linear-gradient(135deg, #42e695, #3bb2b8);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#edit-profile-form .btn-primary:hover {
    background: linear-gradient(135deg, #3bb2b8, #42e695);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#profile-image {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#loading-container {
    text-align: center;
    color: #f1f1f1;
}

.alert {
    font-weight: bold;
    text-align: center;
}

.alert-danger {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.4);
}
